<nav class="menu" role="navigation" aria-label="main navigation">
    <div class="container flex--row">
        <a routerLink="/home" class="menu__title">
            CrowdCapture
        </a>
        
        <div class="menu__body">
            <a routerLink="/about">About</a>
            <a routerLink="/projects">Projects</a>
            <input type="text" placeholder="Search projects" class="menu__search">
        </div>

        <div class="menu__end">
            <button routerLink="/register" class="button--line">Sign Up</button>
            <button routerLink="/login" class="button--fill ml">Log in</button>
        </div>
    </div>
</nav>