<section class="projects">
    <div class="container al" *ngIf="projects">
        <div class="top">
            <h2 class="projects__title">My projects</h2>
            <button routerLink="/create">Create project</button>
        </div>

        <div class="projects__none" *ngIf="projects.length === 0">
            <p>You haven't made any projects yet.</p>
        </div>

        <app-project *ngFor="let project of projects; trackBy: trackByFn" [name]="project.title" [images]="project.image_count" [id]="project.id"></app-project>
    </div>
</section>
