:host {
    margin: auto auto 0 auto;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    height: 75px;
    border-top: 1px solid lightgray;
}

.footer__title {
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
}

.footer__body {
    margin-left: 20px;

    a {
        margin-right: 10px;
        text-decoration: none;
        color: #4d4d4d;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__right {
    display: flex;
    margin-left: auto;
    height: 100%;

    a {
        display: flex;
        height: 100%;
        width: 120px;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;

        span {
            font-size: 10px;
            text-decoration: none;
            margin-bottom: 5px;
        }

        img {
            margin-bottom: 13px;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;

        .footer__title {
            margin-bottom: 6px;
        }

        .footer__right {
            display: none;
        }
    }
}