<footer class="footer">
    <div class="container flex--row">
        <div class="footer__title">CrowdCapture</div>

        <div class="footer__body">
            <a routerLink="/privacy">Privacy</a>
            <a routerLink="/terms">Terms of service</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/contact">Contact</a>
        </div>

        <div class="footer__right">
            <a href="https://m.do.co/c/32adc6f123b4">
                <span>Affiliate link</span>
                <img src="/assets/images/digitalocean.svg" alt="Digital Ocean" width="120"/>
            </a>
        </div>
    </div>
</footer>