<div class="project" *ngIf="project">
    <div class="container al">
        <h1 class="project__name" *ngIf="project.title">{{ project.title }}</h1>

        <div class="project__details">
            <span class="tag" routerLink="/user/{{project.created_by}}" *ngIf="project.username">made by {{ project.username }}</span>
        </div>

        <p class="project__description" *ngIf="project.description">
            {{ project.description }}
        </p>

        <div class="project__actions">
            <button>Upload images</button>
            <button class="button--line">Validate images</button>
        </div>

        <div class="project__meta">
            <h3>Example images</h3>

            <div class="project__meta--end" *ngIf="images">
                <h3>Validated images ({{images.imagesValidated}} / {{images.imagesTotal}})</h3>

                <span *ngIf="!project.latest_bundle_url">No download available yet</span>
                <button *ngIf="project.latest_bundle_url" type="submit" (click)="download()">Download dataset</button>
            </div>
        </div>

        <div class="project__no-images" *ngIf="images && images.images.length === 0">
            <p>You can be the first to upload images to this project!</p>
        </div>
    </div>

    <div class="project__masonry" *ngIf="images && images.images.length > 0">
        <img src="../../assets/examples/IMG_0267.jpeg" alt="">
        <img src="../../assets/examples/IMG_0271.JPEG" alt="">
        <img src="../../assets/examples/imageedit_1_6004022743.jpg" alt="">
        <img src="../../assets/examples/IMG_0273.JPEG" alt="">
        <img src="../../assets/examples/cigarette-butts.jpg" alt="">
        <img src="../../assets/examples/IMG_0277.JPEG" alt="">
        <img src="../../assets/examples/IMG_0278.JPEG" alt="">
        <img src="../../assets/examples/IMG_0274.JPEG" alt="">
        <img src="../../assets/examples/IMG_0275.JPEG" alt="">
        <img src="../../assets/examples/IMG_0276.JPEG" alt="">
        <img src="../../assets/examples/IMG_0279.JPEG" alt="">
    </div>
</div>
