<div class="project" *ngIf="project">
    <div class="container al">
        <h1 class="project__name" *ngIf="project.title">{{ project.title }}</h1>

        <div class="project__details">
            <span class="tag" routerLink="/user/{{project.created_by}}" *ngIf="project.username">made by {{ project.username }}</span>
        </div>

        <p class="project__description" *ngIf="project.description">
            {{ project.description }}
        </p>

        <div class="project__actions">
            <button routerLink="/upload/{{project.id}}">
                <i class="icon-file_upload"></i>
                Upload images
            </button>

            <button routerLink="/validate/{{project.id}}" class="button--line">Validate images</button>

            <button routerLink="/edit/{{project.id}}" class="button--line" *ngIf="project.created_by === user.id">Edit project</button>
        </div>

        <div class="project__meta">
            <h3>Example images</h3>

            <div class="project__meta--end" *ngIf="images">
                <h3>Validated images {{images.imagesValidated}}</h3>
                <h3>Waiting images {{images.imagesWaiting}}</h3>

                <span *ngIf="!project.latest_bundle_url">No download available yet</span>

                <button *ngIf="project.latest_bundle_url" type="submit" (click)="download()">
                    <i class="icon-file_downloadget_app"></i>
                    Download dataset
                </button>
            </div>
        </div>

        <div class="project__no-images" *ngIf="images && images.images.length === 0">
            <p>You can be the first to upload or validate images in this project!</p>
        </div>
    </div>

    <div class="project__masonry" *ngIf="images && images.images.length > 0">
        <img *ngFor="let image of images.images" src="{{image.urlSmall}}" alt="">
    </div>
</div>
