<section class="contact">
    <div class="container al">
        <h2 class="contact__title">Contact</h2>

        <p>
            If you have any comments, improvements or complaints you can e-mail me at <a href="mailto:pieter@crowdcapture.org">pieter@crowdcapture.org</a>
        </p>

        <p>If you have security concerns please e-mail me at <a href="mailto:security@crowdcapture.org">security@crowdcapture.org</a>, if you want to use PGP this is the public key: 49E1 D721 C828 2768 6E15 26B5 9FF6 AD58 EC26 0A4B</p>
        
        <p>If you want to help develop CrowdCapture you can find the code on <a href="https://github.com/crowdcapture">Github</a></p>
    </div>
</section>