<div class="upload">
    <div class="container al">
        <h1 class="upload__title">Upload images</h1>

        <input type="file" name="upload" multiple="multiple" (change)="fileChange($event)">

        <div class="permissions">
            <div class="checkbox">
                <input type="checkbox" id="owner" [(ngModel)]="owner" [ngModelOptions]="{standalone: true}">
                <label for="permission">I hereby confirm that I am the owner of the images I am uploading.</label>
            </div>
    
            <div class="checkbox">
                <input type="checkbox" id="permission" [(ngModel)]="permission" [ngModelOptions]="{standalone: true}">
                <label for="permission">I, the copyright holder of this work, irrevocably grant anyone the right to use these works under the <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">Creative Commons CC0 License</a>.</label>
            </div>
        </div>

        <button (click)="upload()" [disabled]="!permission || !owner">Upload files</button>
    </div>
</div>
