.upload {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  button {
    margin-bottom: 20px;
  }
}

.upload__button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__button + label {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 35px;
    padding: 0 20px;
    font-size: 14px;
    background-color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    border: 2px solid lightgray;

    i {
        margin-right: 5px;
        font-size: 16px;
    }
}

.upload__button:focus + label,
.upload__button + label:hover {
    cursor: pointer;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.upload__title {
  font-size: 28px;
  font-weight: 400;
  color: #4d4d4d;
}

.permissions {
  margin: 20px 0;
}

.upload__masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;

  .file {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: calc(33.3% - 13.3px);
    position: relative;

    img {
      flex: auto;
      height: 250px;
      min-width: 100px;
      object-fit: cover;
    }
  }
}

.file__overlay,
.file__overlay-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: 0.3s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  span {
    background-color: darkgray;
    padding: 10px;
    display: flex;
    align-items: center;

    i {
        margin-right: 10px;
    }
  }
}

.file__overlay-bg {
  opacity: 0.6;
  background-color: lightgray;
}

.file__error {
  padding: 5px;
  background-color: #a83030;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.file__info {
  background-color: lightgray;
  padding: 5px;
}

.file__delete {
  cursor: pointer;
}
