<div class="upload">
    <div class="container al">
        <h1 class="upload__title">Upload images</h1>

        <input type="file" name="upload" multiple="multiple" (change)="fileChange(file.files)" #file accept="image/*">

        <div class="upload__masonry" *ngIf="uploadedFiles.length > 0">
            <div class="file" *ngFor="let file of uploadedFiles">
                <div class="file__info" *ngIf="!file.uploading && !file.uploaded">
                    <span class="file__delete" (click)="deleteImage(file)">Remove image</span>
                </div>

                <div class="file__overlay-bg" *ngIf="file.uploading || file.uploaded"></div>

                <div class="file__overlay" *ngIf="file.uploading || file.uploaded">
                    <span *ngIf="file.uploading">Uploading</span>
                    <span *ngIf="file.uploaded">Uploaded</span>
                </div>

                <div class="file__toolarge" *ngIf="file.toolarge">
                    <span>Filesize is over the allowed 25MB</span>
                </div>

                <img [src]="file.preview" alt="">
            </div>
        </div>

        <div class="permissions">
            <div class="checkbox">
                <input type="checkbox" id="owner" [(ngModel)]="owner" [ngModelOptions]="{standalone: true}">
                <label for="permission">I hereby confirm that I am the owner of the images I am uploading.</label>
            </div>
    
            <div class="checkbox">
                <input type="checkbox" id="permission" [(ngModel)]="permission" [ngModelOptions]="{standalone: true}">
                <label for="permission">I, the copyright holder of this work, irrevocably grant anyone the right to use these works under the <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">Creative Commons CC0 License</a>.</label>
            </div>
        </div>

        <button (click)="upload()" [disabled]="(!permission || !owner) || uploadedFiles.length === 0">Upload files</button>
    </div>
</div>
