@import '../../../../assets/styles/variables.scss';

:host {
    height: 100%;
}

.projects {
    display: flex;
    justify-content: center;
    background-color: $second-color;
    padding: 20px 0;
    height: 100%;
    box-sizing: border-box;
    min-height: calc(100vh - 136px);
}

.projects__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
}