@import '../../../assets/styles/variables.scss';

:host {
    height: 100%;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: $second-color;
    min-height: calc(100vh - 136px);
}

.search__count {
    width: 100%;
}

.row {
    display: flex;
    width: 100%;

    .search__filter {
        width: 25%;
    }

    .search__results {
        width: 75%;
        margin-bottom: 20px;
    }
}

.search__filterblock {
    h4 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 700;
        color: #4d4d4d;
    }
}

.search__filter-loggedout {
    background-color: white;
    padding: 20px;
    margin-right: 20px;

    p {
        color: #333;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;

        .search__filter, .search__results {
            width: 100%;
        }

        .search__filter {
            margin-bottom: 20px;
        }
    }
}