<div class="search">
    <div class="container al">
        <div class="search__count" *ngIf="searchResult">
            <p>{{searchResult.result.length}} results for "{{query}}"</p>
        </div>

        <div class="row">
            <div class="search__filter">
                <div class="search__filterblock" *ngIf="loggedIn">
                    <h4>Created by</h4>

                    <div class="radio">
                        <input type="radio" name="createdby" value="me" [ngModel]="createdBy" (ngModelChange)="setCreatedBy('me')">
                        <label for="me">Me</label>
                    </div>

                    <div class="radio">
                        <input type="radio" name="createdby" value="anyone" [ngModel]="createdBy" (ngModelChange)="setCreatedBy('anyone')">
                        <label for="anyone">Anyone</label>
                    </div>
                </div>

                <div class="search__filter-loggedout" *ngIf="!loggedIn">
                    <p>Please login to search your own projects.</p>
                </div>
            </div>

            <div class="search__results" *ngIf="searchResult && searchResult.result.length > 0">
                <app-project *ngFor="let result of searchResult.result; trackBy: trackByFn" [name]="result.title" [images]="result.image_count" [id]="result.id"></app-project>
            </div>
        </div>
    </div>
</div>