<div class="upload">
    <div class="container al">
        <div class="back" *ngIf="project">
            <a routerLink="/project/{{project.id}}">
                <i class="icon-keyboard_backspace"></i>

                {{ project.title }}
            </a>
        </div>

        <h1 class="upload__title">Upload images</h1>

        <input #file class="upload__button" type="file" id="upload" name="upload" multiple="multiple" (change)="fileChange(file.files)" accept="image/jpg,image/jpeg,image/png">

        <label for="upload">
            <i class="icon-drive_folder_upload"></i>
            Choose your images...
        </label>

        <div class="upload__masonry" *ngIf="uploadedFiles.length > 0">
            <div class="file" *ngFor="let file of uploadedFiles">
                <div class="file__info" *ngIf="!file.uploading && !file.uploaded">
                    <span class="file__delete" (click)="deleteImage(file)">Remove image</span>
                </div>

                <div class="file__overlay-bg" *ngIf="file.uploading || file.uploaded"></div>

                <div class="file__overlay" *ngIf="file.uploading || file.uploaded">
                    <span *ngIf="file.uploading">
                        <i class="icon-spinner loading"></i>
                        Uploading
                    </span>

                    <span *ngIf="file.uploaded">
                        <i class="icon-check"></i>
                        Uploaded
                    </span>
                </div>

                <div class="file__error" *ngIf="file.toolarge">
                    <span>Filesize is over the allowed 25MB</span>
                </div>

                <div class="file__error" *ngIf="file.error">
                    <span>{{ file.error }}</span>
                </div>

                <img [src]="file.preview" alt="">
            </div>
        </div>

        <div class="permissions">
            <div class="checkbox">
                <input type="checkbox" id="permission" [(ngModel)]="permission" [ngModelOptions]="{standalone: true}">
                <label for="permission">I, the copyright holder of this work, irrevocably grant anyone the right to use these works under the <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">Creative Commons CC0 License</a>.</label>
            </div>
        </div>

        <button (click)="upload()" [disabled]="!permission || uploadedFiles.length === 0">
            <i class="icon-file_upload"></i>
            Upload files
        </button>
    </div>
</div>
