.privacy {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    color: #4d4d4d;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    color: #4d4d4d;
}

p {
    color: #4d4d4d;
    margin: 5px 0;
    width: 100%;
}