<div class="project">
    <div class="container al">
        <h1 class="project__name">Detecting sigarette butts</h1>

        <div class="project__details">
            <span class="tag">trash</span>
            <span class="tag">sigarettes</span>
            <p>made by pcmill</p>
        </div>

        <p class="project__description">
            Trash is everywhere but especially sigarette butts. Many scientist believe sigarette butts to be the most prevalent sort of trash. With this project I want to built up a dataset that makes it possible to detect sigarette butts. The beautifull thing is almost everyone can contribute to this project by simply going outside and taking some images.
        </p>

        <div class="project__actions">
            <button>Upload images</button>
            <button class="button--line">Validate images</button>
        </div>

        <div class="project__meta">
            <h3>Example images</h3>

            <div class="project__meta--end">
                <h3>Validated images (2049 / 3056)</h3>
                <button>Download dataset</button>
            </div>
        </div>
    </div>
    
    <div class="project__masonry">
        <img src="../../assets/examples/IMG_0267.jpeg" alt="">
        <img src="../../assets/examples/IMG_0271.JPEG" alt="">
        <img src="../../assets/examples/imageedit_1_6004022743.jpg" alt="">
        <img src="../../assets/examples/IMG_0273.JPEG" alt="">
        <img src="../../assets/examples/cigarette-butts.jpg" alt="">
        <img src="../../assets/examples/IMG_0277.JPEG" alt="">
        <img src="../../assets/examples/IMG_0278.JPEG" alt="">
        <img src="../../assets/examples/IMG_0274.JPEG" alt="">
        <img src="../../assets/examples/IMG_0275.JPEG" alt="">
        <img src="../../assets/examples/IMG_0276.JPEG" alt="">
        <img src="../../assets/examples/IMG_0279.JPEG" alt="">
    </div>
</div>
