:host {
    height: 100%;
    display: flex;
}

.app-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #4D4D4D;
}

.register-block {
    flex-direction: column;
    display: flex;
    background-color: white;
    width: 35%;
    border: 2px solid lightgray;
    margin-top: 20px;
}

.forgot-block {
    margin-top: 10px;
    font-size: 12px;

    a {
        color: #333;
    }
}

.checkbox {
    margin-top: 20px;
}

.form-block {
    margin: 20px;

    h2 {
        margin: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .register-block {
        width: 100%;
        border: none;
    }
}