:host {
    height: 100%;
    display: flex;
}

.app-account-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #4D4D4D;
}

.account-password-block {
    flex-direction: column;
    display: flex;
    background-color: white;
    width: 35%;
    border: 2px solid lightgray;
    margin-top: 20px;
    padding: 20px;

    h2, p {
        margin: 0;
    }

    h2 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .account-password-block {
        width: 100%;
        border: none;
    }
}