:host {
    width: 100%;
}

.project {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.project__name {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        text-decoration: underline;
    }
}

.project__stats {
    margin: 0;
    margin-top: 20px;
}

.project__body {
    display: flex;
    flex-direction: column;
}

.project__end {
    margin-left: auto;
}
