<div class="faq">
    <div class="container al">
        <h1 class="faq__title">Frequently Asked Questions</h1>

        <div class="item">
            <h4 class="question">How much does it cost to use CrowdCapture?</h4>
            <div class="answer">
                <p>CrowdCapture does not cost any money. If you want to support our server costs use the affiliate link in the footer. You can also support the project by contributing to the code on <a href="https://github.com/crowdcapture">Github</a>.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">What does it mean when the download is not available yet?</h4>
            <div class="answer">
                <p>We create zips for the projects every Sunday. This can mean that for new projects the zip is not yet created.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">What kind of images are not allowed to be uploaded?</h4>
            <div class="answer">
                <p>The following rules are in place around the images that are not allowed on CrowdCapture:</p>
                <ul>
                    <li>Please do not upload any images that are considered illegal. This includes but is not limited to: images of child pornography, images that depict violence and images of terrorist operations.</li>
                    <li>Images that are copyrighted and are not cleared by the copyright owner can not be uploaded.</li>
                    <li>Don't upload recognizable images of people without their permission.</li>
                    <li>Images that are of pornographic nature. Although these are not illegal it is impossible to verify if the image was uploaded by the right person and if the subject in the image was of the right age.</li>
                </ul>

                <p>Images that break the rules above will be removed without any notice to the uploader. We also reserve the right to ban any user that repeatedly uploads such content.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">I see that an image that I have the copyright to is uploaded to CrowdCapture</h4>
            <div class="answer">
                <p>Please send an email to <a href="mailto:pieter@crowdcapture.org">pieter@crowdcapture.org</a>. We do not condone the uploading of images with a copyright and will help you to remove the offending images.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">Why can I not remove a project?</h4>
            <div class="answer">
                <p>This is because while you created the project, many people can contribute to the project. We intent for projects to be long term so other projects can trust that the content is still there when they need it.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">Why can I not change the resolution requirements for my project?</h4>
            <div class="answer">
                <p>This has a simple technical reason. If you change the resolution requirements what do we do with the images that now aren't valid images anymore? If you created a project and made a mistake you can ofcourse always contact us.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">What can I use the images on this platform for?</h4>
            <div class="answer">
                <p>All images on CrowdCapture have a <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0 license</a> which is a very unrestrained license. Using the images is free, it is permitted to redistribute the images and you can also use them for commercial purposes. The usage of the images also do not require attribution.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">I uploaded an image that I now want to remove.</h4>
            <div class="answer">
                <p>We currently have not built an option to remove uploaded images. Please contact us if you want to remove images. Do remember that you gave an non-revocable license to use the image when you uploaded it. This means that users that already downloaded your image can continue to use it under the terms of the <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0 license</a>.</p>
            </div>
        </div>

        <div class="item">
            <h4 class="question">Should I upload images that I created with image augmentation?</h4>
            <div class="answer">
                <p>No, every project has different needs and it is almost impossible that make the distinction later.</p>
            </div>
        </div>
    </div>
</div>
