@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    color: #333;
}

.container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex--row {
    flex-direction: row;
}

.form-block {
    margin: 20px;

    h2 {
        margin: 0;
        margin-bottom: 10px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 10px;
    }

    input, textarea {
        margin-top: 10px;
        border: 2px solid lightgray;
        padding: 12px 10px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;

        &::placeholder {
            color: #A7A9C0;
        }

        &.is-invalid {
            border: 2px solid #D97878;
        }
    }

    .invalid-feedback {
        color: #D97878;
        margin: 10px 0;
    }
}

.form-error {
    display: flex;
    background-color: #D97878;
    color: white;
    padding: 0 20px;
    margin-top: 10px;
    transition: 0.3s;
}

.form-submit {
    display: flex;
    flex-direction: column;

    button {
        padding: 12px 20px;
        margin-top: 20px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    
        &:hover:enabled {
            background-color: darkgray;
        }

        &:disabled {
            background-color: #F0F0F0;
        }
    
        i {
            font-size: 24px;
        }
    }

    a {
        text-align: center;
        margin-top: 10px;
        color: #333;
    }
}

button {
    border: none;
    height: 35px;
    padding: 0 20px;
    font-size: 14px;
    background-color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    border: 2px solid lightgray;

    &:hover:enabled {
        cursor: pointer;
        background-color: darkgray;
        border: 2px solid darkgray;
    }
}

.button--line {
    border: 2px solid lightgray;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.button--group {
    display: flex;
    
    button {
        margin-right: 20px;
    }
}

.tag {
    margin-right: 6px;
    background-color: gray;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
    color: white;
}

.ml {
    margin-left: 20px;
}

.mr {
    margin-right: 20px;
}

.mt {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.al {
    align-items: start;
}

.end {
    margin-left: auto;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .75;
    z-index: 101;
}

.modal {
    z-index: 102;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
    width: 60%;
    background-color: white;
}