<section class="hero">
    <div class="container">
        <h1 class="hero__title">
            Working on a machine learning project and in need of image data?
        </h1>

        <h2 class="hero__subtitle">
            Kickstart your dataset on CrowdCapture
        </h2>

        <img class="hero__image" src="../../assets/images/image-1.svg" width="350">

        <h2 class="hero__subtitle">
            Start your own dataset
        </h2>

        <button routerLink="/create" class="hero__cta">Create a project</button>
    </div>
</section>

<section class="projects">
    <div class="container al">
        <h2 class="projects__title">Popular projects</h2>

        <app-project [name]="'Detecting dog breeds'" [contributors]="604" [images]="2300" [id]="23"></app-project>

        <app-project [name]="'Sigarette butts'" [contributors]="21" [images]="340" [id]="11"></app-project>

        <app-project [name]="'Grafitti in the urban environment'" [contributors]="245" [images]="3409" [id]="10"></app-project>
    </div>
</section>

<section class="hero">
    <div class="container">
        <h1 class="hero__title">
            How does it work?
        </h1>

        <h2 class="hero__text">
            Creating open datasets takes a team. CrowdCapture allow everybody to contribute images they can take themselves. Every image that is uploaded gets a <a href="https://creativecommons.org/share-your-work/public-domain/cc0">CC0 license</a> meaning you and other users can share and use it for any purpose.
        </h2>

        <img class="hero__image" src="../../assets/images/image-2.svg" width="350">

        <button class="mt-40" routerLink="/projects">See existing projects</button>
    </div>
</section>